.header
{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    border-bottom: 1px solid grey;
}

.client-payment-info
{
    display: flex;
    margin-left: 5%;
    width: 500px;
    font-size: 18px;
    font-family: 'HelveticaNeueCyr-Medium';
}

.paymentDue-client
{
    display: flex;
    flex-direction: column;
    color: #FD546E;
}


.client-payment-val
{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.walletHistory-client
{
    display: flex;
    flex-direction: column;
    color: #04B1C7;
    margin-left: 10%;
}

.client-header
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.signOut
{
    display: flex;
    flex-direction: row;
    margin-right: 40px;
    margin-left:60px ;
    font-family: 'HelveticaNeueCyr-Medium';
}

.signOut:hover{
    cursor: pointer;
}

.logOut{
    color: #DC253C;
    font-weight: bold;
}

.logo{
    margin-top: 5px;
}

